body {
	background-color: E1D35D;
	color: 2F4F4F;
	font-family: Candara, serif;
}
a:link {
	color: 2F4F4F;
}

a:visited {
	color: 2F4F4F;
}

a:active {
	color: A52A2A;
}

.header_image {
	width:100%; 
	height:20%;
}

.kitchen_logo {
	width:50px;
	height:50px;
}

.desktop_view_brand_name {
	display:none;
}

@media (min-width: 768px) {
  .kitchen_logo {
  	display: none;
  }
  .desktop_view_brand_name {
	display: inline-block;
  }
}

.brand_icon {
	width: 25px; 
	height: 25px;
	float: left;
}

.index_equipment {
	width: 75%;
	height: auto;
}